/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0;
}

img, object, embed, video {
  max-width: 100%;
  _width: 100%;
}

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Correct IE9 overflow */
img {
  height: auto;
}

/* Colors
================================================================================================= */
/* Transition Times
================================================================================================= */
@font-face {
  font-family: 'Novecentowide-Bold';
  src: url("/fonts/novecento/25DFFC_0_0.eot");
  src: url("/fonts/novecento/25DFFC_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_0_0.woff") format("woff"), url("/fonts/novecento/25DFFC_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Novecentowide-Light';
  src: url("/fonts/novecento/25DFFC_1_0.eot");
  src: url("/fonts/novecento/25DFFC_1_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_1_0.woff") format("woff"), url("/fonts/novecento/25DFFC_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Novecentowide-DemiBold';
  src: url("/fonts/novecento/25DFFC_2_0.eot");
  src: url("/fonts/novecento/25DFFC_2_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_2_0.woff") format("woff"), url("/fonts/novecento/25DFFC_2_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Novecentowide-Book';
  src: url("/fonts/novecento/25DFFC_3_0.eot");
  src: url("/fonts/novecento/25DFFC_3_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_3_0.woff") format("woff"), url("/fonts/novecento/25DFFC_3_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Novecentowide-Normal';
  src: url("/fonts/novecento/25DFFC_4_0.eot");
  src: url("/fonts/novecento/25DFFC_4_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_4_0.woff") format("woff"), url("/fonts/novecento/25DFFC_4_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Novecentowide-Medium';
  src: url("/fonts/novecento/25DFFC_5_0.eot");
  src: url("/fonts/novecento/25DFFC_5_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_5_0.woff") format("woff"), url("/fonts/novecento/25DFFC_5_0.ttf") format("truetype");
}
/* Links and Headers
======================================================= */
a {
  color: blue;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
a:focus, a:hover, a:active {
  outline: 0;
}
a:hover {
  color: purple;
}

h1, h2, h3, h4, h5 {
  color: #666666;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 4.15em;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1em;
}

p {
  font-size: 1.5em;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* Main Body Styles
======================================================= */
body {
  font-size: 62.5%;
  color: #444444;
  background: #fcfcfc;
  letter-spacing: 0.06em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#responsive-coming-soon {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #27a9e1;
  color: white;
  text-align: center;
  padding-top: 100px;
  z-index: 999999;
}
@media screen and (max-width: 600px) {
  #responsive-coming-soon {
    display: block;
  }
}

/* Header/Logo and Tagline
======================================================= */
nav {
  background: #27a9e1;
  position: fixed;
  width: 35px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (max-width: 600px) {
  nav {
    background: none;
  }
}
nav:hover {
  width: 50px;
}
nav:hover #nav-open {
  opacity: 1;
  padding-left: 15px;
}
nav:hover #nav-open svg {
  width: 23px;
  height: 20px;
}
nav #nav-open,
nav #nav-close {
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
nav #nav-open {
  width: 100%;
  padding: 20px 0 30px 9px;
  color: white;
  opacity: 0.5;
}
nav #nav-open svg {
  width: 20px;
  height: 16px;
  position: relative;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
nav #nav-open svg .burger {
  fill: white;
}
@media screen and (max-width: 600px) {
  nav #nav-open svg .burger {
    fill: #999999;
  }
}
nav #nav-close {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -32px;
  top: 13px;
  font-size: 1.5em;
  color: #eb212e;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
@media screen and (min-width: 1800px) {
  nav #nav-close {
    font-size: 100%;
  }
}
nav #nav-close:hover {
  color: #eb212e;
}
nav a {
  text-decoration: none;
}
nav a.working {
  cursor: none;
}
nav a.working li span {
  color: white;
  font-size: 1.2em;
}
nav a.working li:hover {
  background: #eb212e;
}
nav a li {
  opacity: 0;
  list-style: none;
  padding: 15px 23px;
  color: #888888;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (min-width: 1800px) {
  nav a li {
    font-size: 90%;
  }
}
nav a li span {
  float: right;
  margin-right: 10px;
  opacity: 0;
  color: #78c9ec;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
nav a li#copyright {
  position: absolute;
  bottom: 10px;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}
nav a li:hover {
  background: #27a9e1;
  color: white;
}
nav a li:hover span {
  margin-right: 0;
  opacity: 1;
}
nav.active {
  width: 330px;
  background: #333333;
}
@media screen and (max-width: 600px) {
  nav.active {
    width: 272px;
  }
}
nav.active #nav-open {
  opacity: 0;
  pointer-events: none;
}
nav.active #nav-close {
  pointer-events: auto;
  opacity: 1;
}
nav.active a li {
  cursor: pointer;
  opacity: 1;
}

#back-btn {
  position: fixed;
  z-index: 9999;
  top: 20px;
  left: 20px;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  color: #cccccc;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
#back-btn span {
  position: relative;
  bottom: -4px;
  margin-right: 3px;
  font-size: 2em;
}
@media screen and (min-width: 1800px) {
  #back-btn span {
    font-size: 140%;
  }
}
#back-btn:hover {
  color: #fd9638;
}
@media screen and (max-width: 650px) {
  #back-btn {
    display: none;
  }
}

/* Home Page
======================================================= */
body#home {
  overflow: hidden;
}
body#home #back-btn {
  display: none;
}
body#home h1 {
  width: 80%;
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
  color: #666666;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 600px) {
  body#home h1 {
    position: relative;
    top: -20px;
  }
}
body#home h4 {
  width: 80%;
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  color: #27a9e1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  body#home h4 {
    position: relative;
    top: -20px;
  }
}
body#home #location {
  display: block;
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
body#home #location img.icon {
  margin-bottom: 10px;
  width: 15px;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home #location p {
  text-transform: uppercase;
  color: #888888;
  letter-spacing: 0.2em;
  font-size: 1em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (max-width: 600px) {
  body#home #location p {
    font-size: 0.8em;
  }
}
body#home #location:hover img.icon {
  width: 18px;
}
body#home #location:hover + svg.mtn-icon {
  bottom: 0;
}
body#home svg.mtn-icon {
  position: absolute;
  bottom: -38px;
  left: 0;
  right: 0;
  width: 105px;
  height: 38px;
  margin: 0 auto;
  z-index: -9999;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (max-width: 800px) {
  body#home svg.mtn-icon {
    bottom: 0;
  }
}
body#home svg.mtn-icon .mtn-poly {
  fill: #c4c4c4;
}

/* Submitted Message
======================================================= */
body#hire-sent .content-wrapper h2 {
  margin-bottom: 5px;
}
body#hire-sent .content-wrapper p {
  text-align: center;
  margin-bottom: 35px;
  color: #888888;
}
body#hire-sent .content-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  color: #27a9e1;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
body#hire-sent .content-wrapper a:hover {
  color: #fd9638;
}

/* Content
======================================================= */
.content-wrapper {
  width: 100%;
  text-align: center;
}

/* Footer
======================================================= */
/* Clearfix
======================================================= */
.cf, body#work #sort, body#work section, body#work article {
  *zoom: 1;
}
.cf:before, body#work #sort:before, body#work section:before, body#work article:before, .cf:after, body#work #sort:after, body#work section:after, body#work article:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after, body#work #sort:after, body#work section:after, body#work article:after {
  clear: both;
}

.disable-hover {
  pointer-events: none;
}

/* Selection Colors
======================================================= */
::-moz-selection {
  background: #fd9638;
  color: white;
}
::selection {
  background: #fd9638;
  color: white;
}

::-moz-selection {
  background: #fd9638;
  color: white;
}

/* Resume
======================================================= */
@media screen and (min-width: 1800px) {
  body#resume,
  body#jobs {
    font-size: 90%;
  }
}
body#resume h1, body#resume h2, body#resume h3, body#resume h4, body#resume h5,
body#jobs h1,
body#jobs h2,
body#jobs h3,
body#jobs h4,
body#jobs h5 {
  letter-spacing: 0.1em;
  font-weight: 900;
  color: #666666;
}
body#resume .content-wrapper,
body#jobs .content-wrapper {
  width: 75%;
  max-width: 890px;
  margin: 0 auto;
}
@media screen and (min-width: 1800px) {
  body#resume .content-wrapper,
  body#jobs .content-wrapper {
    max-width: 1100px;
  }
}
body#resume section,
body#jobs section {
  margin: 0 auto 250px;
}
body#resume section h2,
body#jobs section h2 {
  margin-bottom: 95px;
  letter-spacing: 0.15em;
  text-align: left;
  font-size: 2.8em;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  font-weight: 900;
}
body#resume section h2:after,
body#jobs section h2:after {
  width: 100%;
  max-width: 35px;
  height: 2px;
  margin: 21px auto 0;
  background: #cccccc;
  display: block;
}
@media screen and (max-width: 500px) {
  body#resume section h2,
  body#jobs section h2 {
    font-size: 2.2em;
  }
}
body#resume section a,
body#jobs section a {
  color: #fd9638;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
body#resume section p,
body#jobs section p {
  margin-bottom: 15px;
  line-height: 1.8em;
  font-size: 1.6em;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #888888;
}
body#resume section article,
body#jobs section article {
  padding-bottom: 110px;
  margin-bottom: 110px;
  border-bottom: 1px solid #cccccc;
}
body#resume section article h3,
body#jobs section article h3 {
  font-size: 1.9em;
  margin-bottom: 8px;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: 900;
}
body#resume section article h3.degree,
body#jobs section article h3.degree {
  text-align: center;
}
body#resume section article .position,
body#resume section article .school,
body#jobs section article .position,
body#jobs section article .school {
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
  color: #27a9e1;
  letter-spacing: 0.15em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body#resume section article .school,
body#jobs section article .school {
  text-align: center;
}
body#resume section article .specs,
body#jobs section article .specs {
  text-align: left;
  margin-top: 30px;
}
body#resume section article .specs h4,
body#jobs section article .specs h4 {
  margin-bottom: 10px;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  color: #bbbbbb;
}
body#resume section article .specs h5,
body#jobs section article .specs h5 {
  display: inline-block;
  margin-right: 10px;
  padding-left: 0;
  letter-spacing: 0.08em;
  margin-bottom: 25px;
  font-size: 1.15em;
}
body#resume section article .specs h5 + a li,
body#jobs section article .specs h5 + a li {
  border-color: #fd9638;
  color: #fd9638;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#resume section article .specs h5 + a li span,
body#jobs section article .specs h5 + a li span {
  margin-right: 0;
  margin-left: 3px;
}
body#resume section article .specs h5 + a li:hover,
body#jobs section article .specs h5 + a li:hover {
  color: #27a9e1;
  border-color: #27a9e1;
}
@media screen and (max-width: 500px) {
  body#resume section article .specs h5,
  body#jobs section article .specs h5 {
    display: block;
    margin-bottom: 5px;
  }
  body#resume section article .specs h5 + a li,
  body#jobs section article .specs h5 + a li {
    margin-bottom: 20px;
  }
}
body#resume section article .specs li,
body#jobs section article .specs li {
  list-style: none;
  display: inline-block;
  margin: 0 3px 4px 0;
  border: 1px solid #cccccc;
  padding: 7px 15px;
  font-size: 1.15em;
  letter-spacing: 0.1em;
  color: #888888;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#resume section article .specs li .link-box,
body#jobs section article .specs li .link-box {
  margin-bottom: 0;
  border-color: #fd9638;
  color: #fd9638;
}
body#resume section article .specs li span,
body#jobs section article .specs li span {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
body#resume section article .specs.education p,
body#jobs section article .specs.education p {
  text-align: center;
}
body#resume section article .specs.qualifications,
body#jobs section article .specs.qualifications {
  margin-bottom: 0;
}
body#resume section article .specs.qualifications h3,
body#jobs section article .specs.qualifications h3 {
  margin-bottom: 10px;
  letter-spacing: 0.13em;
}
body#resume section article .specs.qualifications ul,
body#jobs section article .specs.qualifications ul {
  width: 100%;
  text-align: left;
  margin-bottom: 70px;
}
body#resume section article .specs.qualifications ul li,
body#jobs section article .specs.qualifications ul li {
  font-size: 1.4em;
}
body#resume section article .specs.qualifications a,
body#jobs section article .specs.qualifications a {
  color: #27a9e1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body#resume section article .specs.qualifications a:hover,
body#jobs section article .specs.qualifications a:hover {
  color: #fd9638;
}
body#resume section#resume-intro,
body#jobs section#resume-intro {
  width: 100%;
  max-width: none;
  margin: 0 0 150px;
  position: relative;
}
body#resume section#resume-intro h1,
body#jobs section#resume-intro h1 {
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 0.18em;
  text-align: left;
  display: inline-block;
  font-size: 2.75em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
body#resume section#resume-intro h1 span,
body#jobs section#resume-intro h1 span {
  margin-left: 5px;
  font-size: 0.55em;
  letter-spacing: 0.15em;
  color: #27a9e1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  body#resume section#resume-intro h1,
  body#jobs section#resume-intro h1 {
    font-size: 2em;
  }
}
body#resume section#resume-intro p,
body#jobs section#resume-intro p {
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.5em;
}
body#resume section#resume-intro .icon,
body#jobs section#resume-intro .icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  color: #cccccc;
}
body#resume section#resume-intro .icon span,
body#jobs section#resume-intro .icon span {
  font-size: 3em;
}
body#resume section#resume-experience,
body#jobs section#resume-experience {
  margin-bottom: 0px;
}
body#resume section#resume-experience article:last-child,
body#jobs section#resume-experience article:last-child {
  margin-bottom: 0;
}
body#resume section#resume-education,
body#jobs section#resume-education {
  margin: 300px auto 350px;
  padding-bottom: 0;
}
body#resume section#resume-education h2,
body#jobs section#resume-education h2 {
  border: none;
  text-align: center;
  margin-bottom: 65px;
  font-size: 3.2em;
}
@media screen and (max-width: 500px) {
  body#resume section#resume-education h2,
  body#jobs section#resume-education h2 {
    font-size: 2.2em;
  }
}
body#resume section#resume-education article,
body#jobs section#resume-education article {
  border: none;
  margin-bottom: 70px;
  padding-bottom: 0;
}
body#resume section#resume-qualifications,
body#jobs section#resume-qualifications {
  margin-bottom: 0;
}
body#resume section#resume-qualifications h2,
body#jobs section#resume-qualifications h2 {
  margin-bottom: 70px;
  text-align: left;
}
body#resume section#resume-qualifications h2:after,
body#jobs section#resume-qualifications h2:after {
  content: none;
}
body#resume section#resume-qualifications article,
body#jobs section#resume-qualifications article {
  margin-bottom: 0;
}
body#resume section#resume-hire,
body#jobs section#resume-hire {
  margin: 0 auto;
}
body#resume section#resume-hire a,
body#jobs section#resume-hire a {
  cursor: pointer;
  display: block;
  min-width: 130px;
  width: 20%;
  margin: 0 auto;
  border: 1px solid #27a9e1;
  padding: 20px 25px;
  color: #27a9e1;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
body#resume section#resume-hire a:hover,
body#jobs section#resume-hire a:hover {
  border-color: #fd9638;
  color: #fd9638;
}
body#resume section#resume-hire form,
body#jobs section#resume-hire form {
  margin-top: 60px;
  opacity: 0;
  height: 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#resume section#resume-hire form.active,
body#jobs section#resume-hire form.active {
  opacity: 1;
  height: auto;
}
body#resume section#resume-hire form #form-url,
body#jobs section#resume-hire form #form-url {
  display: none;
}
body#resume section#resume-hire form input[type="text"],
body#resume section#resume-hire form textarea,
body#jobs section#resume-hire form input[type="text"],
body#jobs section#resume-hire form textarea {
  width: 95%;
  padding: 20px 2.5%;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  background: none;
  color: #888888;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#resume section#resume-hire form input[type="text"]:active, body#resume section#resume-hire form input[type="text"]:focus,
body#resume section#resume-hire form textarea:active,
body#resume section#resume-hire form textarea:focus,
body#jobs section#resume-hire form input[type="text"]:active,
body#jobs section#resume-hire form input[type="text"]:focus,
body#jobs section#resume-hire form textarea:active,
body#jobs section#resume-hire form textarea:focus {
  background: #fcfcfc;
  border-color: #27a9e1;
  outline: none;
}
body#resume section#resume-hire form textarea,
body#jobs section#resume-hire form textarea {
  height: 140px;
  resize: none;
}
body#resume section#resume-hire form input[type="submit"],
body#jobs section#resume-hire form input[type="submit"] {
  margin: 0;
  float: right;
  background: none;
  border: 1px solid #fd9638;
  padding: 15px 28px;
  color: #fd9638;
  font-size: 1.8em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#resume section#resume-hire form input[type="submit"]:hover,
body#jobs section#resume-hire form input[type="submit"]:hover {
  border-color: #27a9e1;
  color: #27a9e1;
}

@-webkit-keyframes cloud {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #27a9e1;
    border-color: #27a9e1;
  }
}

@keyframes cloud {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #27a9e1;
    border-color: #27a9e1;
  }
}
@-webkit-keyframes cloud-2 {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #2ecc71;
    border-color: #2ecc71;
  }
}
@keyframes cloud-2 {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #2ecc71;
    border-color: #2ecc71;
  }
}
@-webkit-keyframes cloud-3 {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #fd9638;
    border-color: #fd9638;
  }
}
@keyframes cloud-3 {
  0% {
    color: #cccccc;
    border-color: #cccccc;
  }

  100% {
    color: #fd9638;
    border-color: #fd9638;
  }
}
html.touch body#jobs header .overlay {
  background-attachment: scroll;
}

body#jobs.a8c nav {
  background: none;
}
body#jobs.a8c nav #nav-open svg .burger {
  fill: #cccccc;
}
body#jobs.a8c nav.active {
  background: #333333;
}
body#jobs #back-btn {
  display: none;
}
body#jobs .content-wrapper {
  width: 60%;
}
@media screen and (max-width: 800px) {
  body#jobs .content-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  body#jobs .content-wrapper {
    width: 80%;
  }
}
body#jobs header {
  padding: 24em 0 37em;
  text-align: center;
  position: relative;
  background: #27a9e1;
  background: rgba(39, 169, 225, 0.6);
  overflow: hidden;
  -webkit-box-shadow: inset 0 -80px 150px 0 #3d566e;
  box-shadow: inset 0 -80px 150px 0 #3d566e;
}
@media screen and (min-width: 1800px) {
  body#jobs header {
    padding: 35em 0 48em;
  }
}
@media screen and (max-width: 600px) {
  body#jobs header {
    padding: 12em 0 18em;
  }
}
body#jobs header .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/a8c-bkgd@2x.jpg") center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
body#jobs header:before, body#jobs header:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 8em;
  background: #fcfcfc;
  width: 80%;
  z-index: 900;
}
body#jobs header:before {
  right: 50%;
  -webkit-transform: skew(45deg);
  -ms-transform: skew(45deg);
  transform: skew(45deg);
}
body#jobs header:after {
  left: 50%;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
}
body#jobs header h1 {
  color: white;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 0 #177aa5;
}
@media screen and (max-width: 600px) {
  body#jobs header h1 {
    font-size: 2em;
  }
}
body#jobs header h1 span {
  color: #eb212e;
  text-shadow: none;
  position: relative;
  top: -0.1em;
  font-size: 1.4em;
  width: 0;
  margin-left: -0.1em;
  margin-right: 0.9em;
}
body#jobs header h4 {
  color: white;
  font-size: 1.8em;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.06em;
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  body#jobs header h4 {
    font-size: 1.3em;
  }
}
body#jobs section {
  padding: 15em 0 7.5em;
  margin: 0 auto;
}
@media screen and (min-width: 1800px) {
  body#jobs section {
    padding: 20em 0 10em;
  }
}
@media screen and (max-width: 600px) {
  body#jobs section {
    padding: 7.5em 0 3.25em;
  }
}
body#jobs section h2 {
  font-size: 2.8em;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 500px) {
  body#jobs section h2 {
    font-size: 2em;
  }
}
body#jobs section p {
  font-size: 1.6em;
  line-height: 1.8;
  color: #888888;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
body#jobs section article {
  padding-bottom: 6em;
  margin-bottom: 6em;
}
body#jobs section article.hidden {
  display: none;
}
body#jobs section article .specs h5 {
  margin-right: 5px;
}
body#jobs section article .specs a {
  margin-right: 15px;
  cursor: pointer;
}
body#jobs section article .specs a li {
  padding: 1.2em 1.55em 1.1em 1.4em;
  font-size: 1.2em;
  font-weight: 400;
  border-color: #aaa;
  color: #aaa;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#jobs section article .specs a li span {
  position: relative;
  top: -5px;
  height: 0;
  margin-right: 0;
  margin-left: 0.3em;
  font-family: 'Genericons';
  font-size: 1.75em;
  font-weight: inherit;
}
body#jobs section article .specs a li span.genericon-github, body#jobs section article .specs a li span.genericon-cog {
  font-size: 1.4em;
  top: -2px;
  margin-left: 0.4em;
}
body#jobs section article .specs a li:hover {
  color: #fd9638;
  border-color: #fd9638;
}
@media screen and (max-width: 767px) {
  body#jobs section article .specs a li {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    text-align: center;
  }
}
body#jobs section article .specs a.preview-toggle li {
  background: #f9f9f9;
  color: #27a9e1;
  border-color: #27a9e1;
}
body#jobs section article .specs a.preview-toggle li:hover {
  color: #fd9638;
  border-color: #fd9638;
}
body#jobs section article .specs a.active li {
  color: #fd9638;
  border-color: #fd9638;
}
body#jobs section article .specs a.active span:before {
  content: '\f404';
}
body#jobs.a8c #intro {
  padding-top: 30em;
}
@media screen and (max-width: 800px) {
  body#jobs.a8c #intro {
    padding-top: 5em;
  }
}
body#jobs #intro {
  padding-top: 10em;
  -webkit-transition: all 666ms ease-in-out;
  transition: all 666ms ease-in-out;
}
body#jobs #intro img {
  position: relative;
  top: 0;
  width: 120px;
  margin-bottom: 100px;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#jobs #intro img:hover {
  top: -10px;
}
body#jobs #intro h2 {
  font-size: 2.75em;
  line-height: 1.25em;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}
@media screen and (max-width: 800px) {
  body#jobs #intro h2 {
    font-size: 2.25em;
  }
}
body#jobs #intro .byline {
  font-style: italic;
  font-size: 1.75em;
  margin-bottom: 1.4em;
}
body#jobs #intro .content {
  margin-bottom: 2em;
  font-size: 1.6em;
  line-height: 1.8;
  color: #888888;
}
body#jobs #intro .content a {
  display: inline-block;
  color: #27a9e1;
}
body#jobs #intro .content a span {
  position: relative;
  top: 1px;
  font-size: 1.6em;
  margin-right: 0.4em;
  color: #27a9e1;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (min-width: 1800px) {
  body#jobs #intro .content a span {
    margin-right: 0.6em;
  }
}
body#jobs #intro .content a:hover {
  color: #27a9e1;
}
body#jobs #intro .content a:hover span {
  color: #888888;
}
body#jobs #intro .content a:hover span.genericon-codepen {
  color: #333333;
}
body#jobs #intro .content a:hover span.genericon-twitter {
  color: #27a9e1;
}
body#jobs #intro .content a:hover span.genericon-instagram {
  color: #34495e;
}
body#jobs #intro h4 {
  text-align: left;
  color: #777;
  margin: 3.75em 0 1.75em;
}
body#jobs #intro.active {
  padding-top: 13em;
}
@media screen and (max-width: 800px) {
  body#jobs #intro.active {
    padding-top: 5em;
  }
}
body#jobs #skills h2 {
  margin-bottom: 1.5em;
}
body#jobs #skills article {
  padding-bottom: 0;
  border: none;
}
body#jobs #skills article ul {
  margin-bottom: 4em;
}
body#jobs #skills article ul li {
  color: #cccccc;
  border-color: #cccccc;
  font-weight: 300;
  font-size: 1.5em;
  padding: 1.2em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 600px) {
  body#jobs #skills article ul li {
    font-size: 1.1em;
  }
}
body#jobs #experience h2 {
  margin-bottom: 2em;
}
body#jobs #experience article:last-child {
  border: none;
}
body#jobs #experience .more-link {
  color: #27a9e1;
  font-size: 1.1em;
  font-weight: 400;
  border: 1px solid #27a9e1;
  padding: 1em 1.25em;
  display: inline-block;
}
body#jobs #experience .more-link span {
  height: 0;
  position: relative;
  top: -2px;
  margin-right: 0.4em;
}
body#jobs #experience .more-link:hover {
  color: #fd9638;
  border-color: #fd9638;
}
body#jobs #experience .position {
  letter-spacing: 0.1em;
  color: #27a9e1;
}
body#jobs #experience .description p {
  font-size: 1.5em;
}
body#jobs #experience .description p.brag {
  font-size: 1.3em;
  font-style: italic;
  color: #aaa;
}
body#jobs #experience .description p.brag span {
  position: relative;
  top: -1px;
  margin-right: 0.25em;
  font-size: 1.5em;
  color: #f1c40f;
}
body#jobs #experience .preview {
  width: 100%;
  height: 0;
  margin-top: 0;
  opacity: 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#jobs #experience .preview.active {
  height: auto;
  margin-top: 2em;
  opacity: 1;
  -webkit-box-shadow: 1px 1px 5px 0 #aeaeae;
  box-shadow: 1px 1px 5px 0 #aeaeae;
}
body#jobs #references h2 {
  border-bottom: 1px solid #dedede;
  text-align: left;
  font-size: 2.8em;
  margin-bottom: 2em;
}
@media screen and (max-width: 500px) {
  body#jobs #references h2 {
    font-size: 2em;
  }
}
body#jobs #references article {
  padding-bottom: 4em;
  margin-bottom: 4.5em;
}
body#jobs #references article h3, body#jobs #references article .school {
  text-align: left;
}
body#jobs #references article h3 {
  margin-bottom: 0.2em;
}
body#jobs #references .school {
  letter-spacing: 0.15em;
}
body#jobs #references .school.contact {
  margin-top: -0.75em;
  color: #bbb;
}
body#jobs #references .school.contact a {
  color: #bbb;
  margin-right: 0.25em;
}
body#jobs #references .school.contact a:hover {
  color: #fd9638;
}
body#jobs #references .school.contact a span {
  display: none;
  position: relative;
  top: 4px;
  margin-right: 0.5em;
  height: 0;
  color: #ccc;
  font-size: 1.8em;
}
body#jobs #references .school.contact a span.genericon-maximize {
  font-size: 2em;
  top: 3px;
  margin-left: -0.15em;
}
body#jobs #closing h2 {
  margin-bottom: 5px !important;
}
body#jobs #closing article {
  border: none;
}
body#jobs #closing article .contact-content a, body#jobs #closing article .contact-content span {
  margin-right: 0.25em;
  font-size: 1.3em;
  line-height: 1.4;
}
body#jobs #closing article .contact-content p {
  margin-bottom: 35px;
}
body#jobs .thanks span {
  color: #cccccc;
  font-size: 0.5em;
  line-height: 7.5;
  letter-spacing: 0.3em;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media screen and (max-width: 500px) {
  body#jobs .thanks {
    font-size: 2em;
  }
}

@media screen and (min-width: 1800px) {
  body#work {
    font-size: 75%;
  }
}
body#work #back-btn,
body#work nav {
  display: none;
}
body#work #sort {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0px 15px 0 #333333;
  box-shadow: 0 0px 15px 0 #333333;
  z-index: 9999;
}
body#work #sort li {
  float: left;
  width: 21.875%;
  padding: 1.75em 0;
  color: white;
  font-size: 1.3em;
  text-indent: -1em;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
@media screen and (max-width: 800px) {
  body#work #sort li {
    font-size: 1em;
    width: 50%;
  }
  body#work #sort li:first-child {
    display: none;
  }
}
body#work #sort li:first-child {
  background: #333333;
  width: 12.5%;
  cursor: default;
}
body#work #sort li:first-child a {
  color: white;
  text-decoration: none;
}
body#work #sort li:first-child span {
  opacity: 0.25;
}
body#work #sort li:nth-child(2) {
  background: #9b59b6;
}
body#work #sort li:nth-child(2) span {
  color: #713b87;
  top: -7px;
}
body#work #sort li:nth-child(2):hover {
  background: #804399;
}
body#work #sort li:nth-child(2):hover span {
  color: #452452;
}
body#work #sort li:nth-child(3) {
  background: #27a9e1;
}
body#work #sort li:nth-child(3) span {
  color: #177aa5;
}
body#work #sort li:nth-child(3):hover {
  background: #1a8bbb;
}
body#work #sort li:nth-child(3):hover span {
  color: #0e4861;
}
body#work #sort li:nth-child(4) {
  background: #fd9638;
}
body#work #sort li:nth-child(4) span {
  color: #e66f02;
}
body#work #sort li:nth-child(4):hover {
  background: #fc7b06;
}
body#work #sort li:nth-child(4):hover span {
  color: #9a4b02;
}
body#work #sort li:last-child {
  background: #2ecc71;
}
body#work #sort li:last-child span {
  color: #208e4e;
}
body#work #sort li:last-child:hover {
  background: #25a25a;
}
body#work #sort li:last-child:hover span {
  color: #124f2c;
}
body#work #sort li span {
  height: 0;
  font-size: 2em;
  position: relative;
  top: -6px;
  margin-right: 0.3em;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#work #sort li.active span {
  color: white;
}
body#work #sort li.active:hover span {
  color: white;
}
body#work article {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#work article.design {
  background: rgba(39, 169, 225, 0);
}
body#work article.development {
  background: rgba(253, 150, 56, 0);
}
body#work article.development.design {
  background: rgba(46, 204, 113, 0);
}
@media screen and (min-width: 1800px) {
  body#work article {
    width: 20%;
  }
}
@media screen and (max-width: 1100px) {
  body#work article {
    width: 33.33333%;
  }
}
@media screen and (max-width: 800px) {
  body#work article {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  body#work article {
    width: 100%;
  }
}
body#work article:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#work article.design:after {
  border-color: transparent #27a9e1 transparent transparent;
}
body#work article.development:after {
  border-color: transparent #fd9638 transparent transparent;
}
body#work article.development.design:after {
  border-color: transparent #2ecc71 transparent transparent;
}
body#work article .img-wrap {
  width: 100%;
  overflow: hidden;
  opacity: 0.6;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#work article .work-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
body#work article .work-desc {
  position: absolute;
  top: 34%;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#work article .work-desc h3, body#work article .work-desc .position {
  text-align: center;
  color: white;
}
body#work article .work-desc h3 {
  margin-bottom: 0.5em;
  font-size: 2em;
  letter-spacing: 0.13em;
}
body#work article .work-desc .position {
  margin-bottom: 1.5em;
}
body#work article .work-desc .work-link {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  -webkit-box-shadow: 0 0 0 1px white;
  box-shadow: 0 0 0 1px white;
  padding: 1.1em 2em 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
body#work article .work-desc .work-link span {
  position: relative;
  top: -3px;
}
body#work article .work-desc .work-link span.genericon-cloud-download {
  top: -4px;
}
body#work article .work-desc .work-link:nth-child(2n) {
  margin-left: 1em;
}
body#work article .work-desc .work-link.pending {
  text-decoration: line-through;
}
body#work article .work-desc .work-link.pending span {
  text-decoration: none;
}
body#work article .work-desc .work-link.pending span:before {
  content: '\f445';
}
body#work article .work-desc .work-link:hover {
  background: rgba(255, 255, 255, 0.35);
}
body#work article.design .work-desc .work-link:hover {
  -webkit-box-shadow: 0 0 0 1px #115978;
  box-shadow: 0 0 0 1px #115978;
  color: #115978;
}
body#work article.development .work-desc .work-link:hover {
  -webkit-box-shadow: 0 0 0 1px #b45702;
  box-shadow: 0 0 0 1px #b45702;
  color: #b45702;
}
body#work article.development.design .work-desc .work-link:hover {
  -webkit-box-shadow: 0 0 0 1px #176437;
  box-shadow: 0 0 0 1px #176437;
  color: #176437;
}
body#work article:hover {
  background: #27a9e1;
  background: #27a9e1;
}
body#work article:hover:after {
  opacity: 0;
}
body#work article:hover.development {
  background: #fd9638;
  background: #fd9638;
}
body#work article:hover.development.design {
  background: #2ecc71;
  background: #2ecc71;
}
body#work article:hover .img-wrap {
  opacity: 0.075;
}
body#work article:hover .work-desc {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
@media screen and (max-width: 800px) {
  body#work article:after {
    opacity: 0;
  }
  body#work article.design {
    background: #27a9e1;
  }
  body#work article.development {
    background: #fd9638;
  }
  body#work article.development.design {
    background: #2ecc71;
  }
  body#work article .work-img {
    opacity: 0.2;
  }
  body#work article .work-desc {
    opacity: 1;
  }
}
body#work article.hidden {
  display: none;
}
